<!-- Section - Our solutions -->
<section
  class="d-xl-flex h-100 pageData"
  data-anchor="our-solutions"
  data-tooltip="Our solutions"
  data-ui="light"
  data-navbar="navbar-dark"
>
  <div class="overlay overlay-advanced">
    <div class="overlay-inner bg-image-holder bg-cover">
      <img
        src="https://source.unsplash.com/1920x1280/?software"
        alt="background"
      />
    </div>
    <div class="overlay-inner bg-dark opacity-50"></div>
  </div>
  <div class="container align-self-xl-center text-white">
    <div class="row mb-8">
      <div class="col-12 col-xl-6">
        <h2 class="mb-4 animated" data-animation="fadeInUp">
          Our services descriptions
        </h2>
        <p
          class="animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          All of our services are accompanied by thorough Consultation and
          Planning sessions, integral to each step of the process.
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 col-lg-5 m-4 animated new-card p-4"
        data-animation="fadeInUp"
        data-animation-delay="150"
      >
        <h4>Web Develpoment</h4>
        <p class="mb-0">
          Our web development service involves the creation, design, and
          maintenance of websites for individuals, businesses, organizations, or
          any entity looking to establish an online presence or enhance their
          existing web presence. Here's a breakdown of what a typical web
          development service might offer:UX/UI, Development,Custom Content
          Management System (CMS), E-commerce Functionality,Responsive Design,
          Testing and Quality Assurance, Deployment and Launch and Maintenance
          and Support.
        </p>
      </div>

      <div
        class="col-12 col-lg-5 m-4 animated new-card p-4"
        data-animation="fadeInUp"
        data-animation-delay="300"
      >
        <h4>Design</h4>
        <p class="mb-0">
          A design service encompasses a wide range of creative activities aimed
          at crafting visual solutions to meet the needs and objectives of
          clients across various industries. Here's a breakdown of what a design
          service might offer:Graphic Design, Product Design, Interior Design,
          Architectural Design, Motion Graphics and Animation and Branding and
          Identity Design.
        </p>
      </div>
      <div
        class="col-12 col-lg-5 m-4 mb-lg-0 animated new-card p-4"
        data-animation="fadeInUp"
        data-animation-delay="450"
      >
        <h4>3D Modeling & Rendering</h4>
        <p class="mb-0">
          A 3D modeling service involves the creation of three-dimensional
          digital representations of objects, characters, environments, or any
          other visual elements using specialized software. These models can be
          used in various industries such as animation, gaming, architecture,
          product design, virtual reality, and augmented reality. Here's a
          breakdown of what a 3D modeling service might offer:Consultation and
          Planning, Conceptualization and Design, 3D Modeling, Texturing and
          Material Application, Rigging and Animation, Rendering, Quality
          Assurance and Revisions and File Preparation and Delivery.
        </p>
      </div>

      <!-- <div
        class="col-12 col-lg-5 m-4 mb-lg-0 animated new-card p-4"
        data-animation="fadeInUp"
        data-animation-delay="600"
      >
        <h4>We create and innovate</h4>
        <p class="mb-0">
          Quisque ultrices non velit sit amet consectetur. Cras turpis dolor,
          facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu
          sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget
          lorem turpis. Maecenas id metus sapien. Aliquam et est turpis. Sed sit
          amet dui vel sapien sagittis pellentesque nec id sem.
        </p>
      </div>-->
    </div>
  </div>
</section>

<!-- Section - Our work -->
