<section
  class="d-xl-flex h-100 pageData"
  data-anchor="our-work"
  data-tooltip="Our work"
  data-ui="dark"
  data-navbar="navbar-light"
>
  <div class="container align-self-xl-center">
    <div class="row mb-8">
      <div class="col-12 col-xl-6">
        <h2 class="mb-4 animated" data-animation="fadeInUp">Our Work</h2>
        <p
          class="animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          Explore the beauty and creativity in our gallery section, where
          digital art meets innovation. Immerse yourself in a captivating
          showcase of stunning visuals, intricate designs, and inspiring digital
          masterpieces.
        </p>
      </div>
    </div>
    <div
      class="slider animated"
      data-animation="fadeInUp"
      data-animation-delay="300"
      data-slick='{"dots": true}'
    >
      <div>
        <div class="portfolio-item mb-8">
          <div class="row">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/web-project.png"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/web-project.png"
                        alt="web Development"
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Web development</h4>
                <p class="item-cat">
                  Proficient in Design, Web Development, and Testing utilizing
                  Angular and Python technologies.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="portfolio-item mb-8">
          <div class="row flex-lg-row-reverse">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/management-project.png"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/management-project.png"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div
              class="col-12 col-lg-5 d-lg-flex justify-content-lg-end text-lg-right"
            >
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 ml-auto mr-0 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Management Systems</h4>
                <p class="item-cat">
                  Tailored development of custom management systems for your
                  company, leveraging cutting-edge technologies for optimal
                  efficiency and performance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="portfolio-item mb-8">
          <div class="row flex-lg-row-reverse">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/project-1.jpg"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/modeling-project.png"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div
              class="col-12 col-lg-5 d-lg-flex justify-content-lg-end text-lg-right"
            >
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 ml-auto mr-0 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">3D Modeling</h4>
                <p class="item-cat">
                  Crafting immersive 3D representations of both tangible objects
                  and conceptual ideas, enhancing visualization for unparalleled
                  clarity.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="portfolio-item mb-8">
          <div class="row">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/project-2.jpg"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/industrial-project.png"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Industrial design</h4>
                <p class="item-cat">
                  Expertly crafting stand designs and product concepts, along
                  with precise modeling to provide an exact representation of
                  your future industrial products.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="portfolio-item">
          <div class="row">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/graphic-project.png"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/graphic-project.png"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Graphic Design</h4>
                <p class="item-cat">Online - Offline</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
