<!-- Section - Our Missions -->
<section
  class="d-xl-flex h-100 pageData"
  data-anchor="our-mission"
  data-tooltip="Our mission"
  data-ui="dark"
  data-navbar="navbar-light"
>
  <div class="container align-self-xl-center">
    <div class="row">
      <div class="col-12 col-xl-6">
        <h2
          class="mb-4 animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          Our Mission
        </h2>
        <p
          class="animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          At A0 Solutions, our mission is to enable businesses to achieve
          successful and quality projects. We view our mission as a commitment
          to our clients. We deliver on this commitment by striving to ensure
          that every client can rely on A0 Solutions as an extension of their
          own company when outsourcing projects, activities, or tasks.
        </p>
      </div>
    </div>
  </div>
</section>
