<div class="backdrop" *ngIf="show">
  <div class="modal-custom">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-bottom">
          <h5 class="modal-title"><i class="bi bi-info-circle"></i> Alert</h5>
          <button
            type="button"
            class="btn bg-none p-0"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          >
            <i class="bi bi-x"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <p class="mb-4">{{ text }}</p>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
      </div>
    </div>
  </div>
</div>
